#hero_picture {
    background-image: url('../images/forrest.jpg');
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
    background-position: center;
    padding: 0;
}

#second_hero{
    background-image: url('../images/intuitive_banana/home_page1.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    align-content: center;
}

#hero_picture2{
    background-color: #363636;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
    background-position: center;
    padding: 0;
}
#external-links {
    text-decoration: none;
}

#tile {
    margin: 0 auto;
}

h3 {
    color: white!important;
}

#icon {
    margin: 20px;
}

#portfolioSelector{
    cursor: pointer;
}

.banana{
    background: #363636!important;
    width: 100%;
    margin: 0 auto;
}

.pride{
    color: #363636
}

.sub{
    color: #f5f5f5!important;
}

#displayURL{
    text-decoration: none;
}

#displayURL2{
    text-decoration: none;
}