#hero_picture {
    background-image: url('../images/forrest.jpg');
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
    background-position: center;
    padding: 0;
}

#tile {
    margin: 0 auto;
}

h3 {
    color: white!important;
}

#icon {
    margin: 20px;
}

.portfolioSelector{
    cursor: pointer;
}